<footer>
    <div id=footer>
        CST336 Internet Programming. 2019&copy; <%= fakeName %> <br />
        <strong>Disclaimer:</strong> The information in this webpage has not been fact-checked. 
        Use at your own risk. <br />
        This information is used for academic purposes only.
    </div>
    <br />
    <img src="img/csumb.png" alt="CSUMB logo">
</footer>