<nav>
    <a href="/meltdown_spectre">Meltdown & Spectre</a>
    <a href="/ransomware">Ransomware</a>
    <a href="/windows_vs_unix">Windows vs Unix</a>
    <a href="/emojicode">Emojicode</a>
</nav>
<hr />