<% include partials/header.ejs %>
        <header>
            <h1>Emojicode</h1>
        </header>
        <% include partials/nav.ejs %>
        <br />
        <main>
            
            <figure>
                <img class="center" src="img/emojicode.jpg" alt="emojicode photo"/>
            </figure>
            
            <div id=content>
                <h2>Emojicode. It is exactly what you think it is.</h2>
                <p>In case you haven't heard, sometime before 2016 a programming
                langauge called emojicode was released in which you can program
                using emojis.</p>
                <h2>What's under the hood?</h2>
                <p>Emojicode is open source, muli-paradigm, object-oriented and
                high-level that uses emojis for type, method, class and initalizer
                names. Whereas string literals, numeric values, and variable
                names are not made up of emojis.</p>
                <h2>Who in their right mind would use this?</h2>
                <p>Since this language is cross-platform and fully functional,
                anyone could learn and use this for just about any applcation.</p>
                <p>There is a project called <a href="https://praxidike97.github.io/emoji-learn/">
                    emoji-learn</a> that has created a nural network library 
                using emojicode.</p>
                <h2 class="summary">Summary</h2>
                <p>Even though there has been some development using this 
                language, there is a lot of resistance to using this language
                as it argubly is a form of obfuscation of code as it makes
                normally readable code entirely unreadable. Still, we will see
                what the future of this programming langauge is and what will
                be made from it.</p>
                <br />
                <div id=source>Source: <a href="https://fossbytes.com/emojicode-open-source-programming-language/">fossbytes.com</a></div>
            </div>
        </main>
        <hr />
        <% include partials/footer.ejs %>
    </body>
</html>