<% include partials/header.ejs %>
        <header>
            <h1>Ransomware</h1>
        </header>
        <% include partials/nav.ejs %>
        <br />
        
        <main>
            
            <figure>
                <img class="center" src="img/ransomware.jpg" alt="photo illuistrating ransomware"/>
            </figure>
            
            <div id=content>
                <h2>What is Ransomeware?</h2>
                <p>Ransomeware is a name for a type of software that is loded
                onto a computer that will encrypt one's hard drive and hold it
                for ransom.</p>
                <h2>How does it get on my computer?</h2>
                <p>Normally it will get onto your computer by mascarading itself
                as desireable software, such as a virus protector.</p>
                <h2>How to avoid installing ransomware?</h2>
                <p>Only install programs that you know about from websites that
                you trust. Be wary of websites that send you to an external
                website for a download, or that use complicated installers
                that offer you other kinds of programs in addition to the program
                of your choice.</p>
                <br />
                <div id=source>Source: <a href="https://www.techrepublic.com/article/massive-intel-cpu-flaw-understanding-the-technical-details-of-meltdown-and-spectre/">techrepublic.com</a></div>
            </div>
        </main>
        <hr />
        <% include partials/footer.ejs %>
    </body>
</html>